.*.swp
static/*.html
static/*.xml
static/blog/
static/tags/
lua/comments.xml
lua/visits.2.csv
lua/comments.lua
lua/visits_table.lua

lua/blog/
lua/build/
lua/tags/
lua/digestHtml
lua/*.pp.htm
lua/*.pp.htm.d
lua/tags.mk.inc
