@charset "utf-8";

@import url("https://cdn.bootcss.com/normalize/4.2.0/normalize.min.css");

@import "compass/css3/selection";

/* Common settings */

html {
  background-color: #eee;
}

body {
  font-family: "DejaVu Sans", "Bitstream Vera Sans", Verdana, sans-serif;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

a {
  color: #436976;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  font-family: "DejaVu Sans", "Bitstream Vera Sans", Verdana, "微软雅黑", "WenQuanYi Zen Hei", sans-serif;
}

/* Layout */

#page {
  margin: 2em auto;
  width: 80%;
  max-width: 960px;
}

#banner {
  text-align: center;
}

#content {
  padding: 0 10px;
}

h1 {
  border-left: 5px solid rgb(237, 128, 41);
  border-bottom: 1px solid #8CACBB;
  padding-bottom: 0.2em;
  padding-left: 6px;
}

* {
  @include selection(#FF5E99, White);
  /*#ff1493; /* #f39 */
}

/* box */

.box {
  margin: 1.5em 0;
}

.box h5 {
  margin: 0;
  padding: 0.3em 1em;
  background-color: #DEE7EC;
  border: 1px solid #8CACBB;
  border-style: solid solid none solid;
  display: inline;
  font-size: 100%;
}

.box .box-body {
  margin-top: 2px;
  padding: 0.5em;
  border: 1px solid #8CACBB;
}

.box ul.box-body {
  list-style-type: none;
}

/* post-list */

.post-list li {
}

.post-list li a {
  margin-left: 1em;
}

/* blogpost */

p, ol, ul, pre, td, th, caption {
  line-height: 160%;
}

pre, pre code {
  font-family: "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Lucida Console", "Courier New", monospace;
}

@mixin pre-wrap {
  /* https://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* CSS 3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre {
  background-color: #ccc;
  padding: 1em;
  margin: 1em;

  @include pre-wrap;
}

blockquote {
  border: 1px solid #8CACBB;
  background-color: #DEE7EC;
  padding: 0.3em 1em;
  margin: 1em;
  /* quotes: '"' '"'; */
}

table {
  margin: 1em auto;
  width: 80%;
}

th, td {
  border: 1px solid black;
  padding: 0.3em;
}

/*
div.hl {
  font-family: "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Lucida Console", "Courier New", monospace;
  padding: 1px 0;
}

div.hl ol {
}

div.hl li {
  border-left: 2px solid #999;
  padding-left: 0.6em;

  white-space: pre-wrap;
  *white-space: pre;
  *word-wrap: break-word;
}
*/

/* footer */

#footer {
  clear: both;
  float: none;
  border-top: 1px solid #8CACBB;
  /*background-color: #DEE7EC;*/
  text-align: center;
  margin-top: 2em;
  padding: 1em 0 2em 0;
}
