html {
	background-color: #123;
}

a {
	color: #8EADE6;
}

#page {
	color: #D9C49E;
}

h1 {
	border-bottom-color: #999;
}

h1.sitetitle {
	color: #aaa;
}

.box {
	margin: 1em 0;
}

.box h5 {
	background-color: #C82; /*36,83,80*/ /*36,70,70*/
	background-image: -webkit-linear-gradient(left, #C82, #333);
	background-image: -moz-linear-gradient(left, #C82, #333);
	background-image: -o-linear-gradient(left, #C82, #333);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#CC8822', EndColorStr='#333333');
	-ms-filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#CC8822', EndColorStr='#333333');
	zoom: 1;
	background-image: -ms-linear-gradient(left, #C82, #333);
	background-image: linear-gradient(left, #C82, #333);
	display: block;
	text-align: center;
	color: White;
	border: none;
}

.box .box-body {
	border: none;
	border-top-style: none;
	margin-top: 0;
}

.box .box-body a {
}

/* content */

h5.cate-title a {
	color: White;
}

blockquote {
	background-color: transparent;
	border-color: #666;
}

pre {
	background-color: #1e2426;
	color: #babdb6;
}

th, td {
	border: 1px solid #666;
}

#footer {
	border-top: 1px solid #666;
}
