@charset "utf-8";

/* Normalize css IE 8+ */

/**
 * Remove default margin.
 */
body {
	margin: 0;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b, strong {
	font-weight: bold;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Common settings */

html {
	background-color: #eee;
}

body {
	font-family: "DejaVu Sans", "Bitstream Vera Sans", Verdana, sans-serif;
	font-size: 10.5pt;
}

img {
	vertical-align: middle;
}

a {
	color: #436976;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3 {
	font-family: "DejaVu Sans", "Bitstream Vera Sans", Verdana, "微软雅黑", "WenQuanYi Zen Hei", sans-serif;
}

.clear { /* deprecated */
	float: none;
	clear: both;
	font: 0px/0px sans-serif;
	display: block;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.clearfix {
	*zoom: 1; /* for IE 6 7 hasLayout */
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* tooltip link */

a.tooltip {
	position: relative;
}

a.tooltip span {
	display: none;
}

a.tooltip:hover {
	font-weight: bold;
}

a.tooltip:hover span {
	display: block;
	position: absolute;
	top: -1.5em;
	left: 0;
	padding: 0.2em;
	white-space: nowrap;
	background-color: Black;
	color: White;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

/* Layout */

#page {
	margin: 2em auto;
	width: 80%;
}

#content {
	padding: 0 10px;
}

h1 {
	border-left: 5px solid rgb(237, 128, 41);
	border-bottom: 1px solid #8CACBB;
	padding-bottom: 0.2em;
	padding-left: 6px;
}

h1.sitetitle {
	/* for opera */
	font-family: "微软雅黑", "WenQuanYi Zen Hei", sans-serif;
}

::selection {
	color: White;
	background-color: #FF5E99; /*#ff1493; /* #f39 */
}

::-moz-selection {
	color: White;
	background-color: #FF5E99; /*#ff1493; /* #f39 */
}

/* box */

.box {
	margin: 1.5em 0;
}

.box h5 {
	margin: 0;
	padding: 0.3em 1em;
	background-color: #DEE7EC;
	border: 1px solid #8CACBB;
	border-style: solid solid none solid;
	display: inline;
	font-size: 14px;
}

.box .box-body {
	margin-top: 2px;
	padding: 0.5em;
	border: 1px solid #8CACBB;
}

.box ul.box-body {
	list-style-type: none;
}

/* post-list */

.post-list li {
}

.post-list li a {
	margin-left: 1em;
}

/* blogpost */

p, ol, ul, pre {
	line-height: 150%;
}

pre {
	font-family: "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Lucida Console", "Courier New", monospace;
	background-color: #ccc;
	padding: 1em;
	margin: 1em;

	white-space: pre-wrap;
	*white-space: pre;
	*word-wrap: break-word;
}

blockquote {
	border: 1px solid #8CACBB;
	background-color: #DEE7EC;
	padding: 0.3em 1em;
	margin: 1em;
	/* quotes: '"' '"'; */
}

table {
	margin: 1em auto;
	width: 80%;
}

th, td {
	border: 1px solid black;
	padding: 0.3em;
}

div.hl {
	font-family: "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Lucida Console", "Courier New", monospace;
	padding: 1px 0;
}

div.hl ol {
}

div.hl li {
	border-left: 2px solid #999;
	padding-left: 0.6em;

	white-space: pre-wrap;
	*white-space: pre;
	*word-wrap: break-word;
}

/* footer */

#footer {
	clear: both;
	float: none;
	border-top: 1px solid #8CACBB;
	/*background-color: #DEE7EC;*/
	text-align: center;
	margin-top: 2em;
	padding: 1em 0 2em 0;
}
