@charset "utf-8";

#tag-name {
	font-size: 14px;
	margin-bottom: 1em;
	padding: 0.3em;
	border: 1px solid #8CACBB;
	background-color: #DEE7EC;
	color: Black;
}

#tag-name a:hover {
	font-weight: bold;
}
